

<h1> Stupid Coaching </h1>
<div class="you">
  <p> <%= @answer %> </p>
  <p> <i> - you </i> </p>
</div>
<div class="coach">
  <p> <b> <%= @question %> </b> </p>
  <p> <i> - Your coach </i>  </p>
</div>
