// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.you {
  border-left: solid 5px;
  border-color: grey;
  margin: 10px;
  padding: 2px 20px;
}

.coach {
  border-left: solid 5px;
  border-color: grey;
  background-color: #FFFFE1;
  margin: 10px;
  padding: 2px 20px;

}
